@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300..900&display=swap');

$pure_white: #fff;

$background: #fffbef;

/** New Design **/

$PRIMARY_ORANGE: #fec56b;

$PRIMARY_COLOR: #4a90d9;
$SECONDARY_COLOR: #20201e;
$TERTIARY_COLOR: #f1f1f1;
$BACKGROUND_COLOR: #fff;

$DARK_SECONDARY_COLOR: #fcf7f0;
$DARK_TERTIARY_COLOR: #1c212b;
$DARK_BACKGROUND_COLOR: #1a1c22;

$BORDER_WIDTH: 1px;
$BORDER_RADIUS: 24px;

/******* Light Theme *********/

@mixin light-primary-color {
  --ion-color-primary: #{$PRIMARY_COLOR};
  --ion-color-primary-rgb: 74, 144, 217;
  --ion-color-primary-contrast: #263341; // #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #417fbf;
  --ion-color-primary-tint: #5c9ddd;
}

@mixin light-secondary-color {
  --ion-color-secondary: #{$SECONDARY_COLOR};
  --ion-color-secondary-rgb: 32, 32, 30;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #1c1c1a;
  --ion-color-secondary-tint: #363635;
}

@mixin light-tertiary-color {
  --ion-color-tertiary: #{$TERTIARY_COLOR};
  --ion-color-tertiary-rgb: 241, 241, 241;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #d4d4d4;
  --ion-color-tertiary-tint: #f1f1f2;
}

@mixin light-text-color {
  --ion-text-color: #{$SECONDARY_COLOR};
  --ion-text-color-rgb: 32, 32, 30;

  --ion-text-color-step-50: #2b2b29;
  --ion-text-color-step-100: #363635;
  --ion-text-color-step-150: #414140;
  --ion-text-color-step-200: #4d4d4b;
  --ion-text-color-step-250: #585856;
  --ion-text-color-step-300: #636362;
  --ion-text-color-step-350: #6e6e6d;
  --ion-text-color-step-400: #797978;
  --ion-text-color-step-450: #848483;
  --ion-text-color-step-500: #90908f;
  --ion-text-color-step-550: #9b9b9a;
  --ion-text-color-step-600: #a6a6a5;
  --ion-text-color-step-650: #b1b1b0;
  --ion-text-color-step-700: #bcbcbc;
  --ion-text-color-step-750: #c7c7c7;
  --ion-text-color-step-800: #d2d2d2;
  --ion-text-color-step-850: #dededd;
  --ion-text-color-step-900: #e9e9e9;
  --ion-text-color-step-950: #f4f4f4;
}

@mixin light-background-color {
  --ion-background-color: #{$BACKGROUND_COLOR};
  --ion-background-color-rgb: 255, 255, 255;

  --ion-background-color-step-50: #f4f4f4;
  --ion-background-color-step-100: #e9e9e9;
  --ion-background-color-step-150: #dededd;
  --ion-background-color-step-200: #d2d2d2;
  --ion-background-color-step-250: #c7c7c7;
  --ion-background-color-step-300: #bcbcbc;
  --ion-background-color-step-350: #b1b1b0;
  --ion-background-color-step-400: #a6a6a5;
  --ion-background-color-step-450: #9b9b9a;
  --ion-background-color-step-500: #90908f;
  --ion-background-color-step-550: #848483;
  --ion-background-color-step-600: #797978;
  --ion-background-color-step-650: #6e6e6d;
  --ion-background-color-step-700: #636362;
  --ion-background-color-step-750: #585856;
  --ion-background-color-step-800: #4d4d4b;
  --ion-background-color-step-850: #414140;
  --ion-background-color-step-900: #363634;
  --ion-background-color-step-950: #2b2b29;
}

@mixin custom-typos {
  .headline {
    font-style: normal;
    font-weight: 600;
    line-height: var(--min-height);
    letter-spacing: 1.44px;
    margin: 0;
  }

  .subheadline {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
  }

  .copytext {
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.96px;
  }

  .smalltext {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
  }
}

:root {
  --bite-tribe-color: #{$PRIMARY_ORANGE};

  /**  Colors **/
  // https://ionicframework.com/docs/theming/color-generator
  @include light-primary-color;
  @include light-secondary-color;
  @include light-tertiary-color;

  /**  Application colors **/
  // https://ionicframework.com/docs/theming/themes#application-colors

  @include light-text-color;
  @include light-background-color;

  --ion-font-family:
    'Outfit', 'Noto Color Emoji', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ion-toolbar-background: #{$pure_white};
  --ion-toolbar-border-color: var(--ion-color-primary-shade);
  --ion-toolbar-color: #1f1f1f;

  // General
  --border-color: var(--ion-color-secondary);
  --background-color: var(--ion-background-color);

  // Card
  --border-radius: #{$BORDER_RADIUS};
  --border-width: #{$BORDER_WIDTH};

  // Footer
  --ion-footer-color-background: var(--ion-background-color);
  --ion-footer-color-border: var(--ion-color-tertiary-tint);
  --ion-footer-color-button: var(--ion-color-primary);
  --ion-footer-border-width: var(--border-width);
  --ion-footer-border-radius: var(--border-radius);

  --ion-header-height: 50px;
  ion-toolbar {
    --min-height: 56px;
  }

  @include custom-typos;

  .button-clear {
    --color: #{$SECONDARY_COLOR};
  }

  .safe-padding-bottom {
    padding-bottom: var(--ion-safe-area-bottom, 0) !important;
  }

  ion-radio {
    --color-checked: #{$SECONDARY_COLOR};
  }

  //Image-Upload
  --ion-image-upload-border-width: 1px;
  --ion-image-upload-border-color: black;
  --ion-image-upload-border-style: solid;

  --ion-input-background: $pure_white;
  --ion-input-border-color: black;
}

/******* Dark Theme *********/

@mixin dark-primary-color {
  --ion-color-primary: #{$PRIMARY_COLOR};
  --ion-color-primary-rgb: 74, 144, 217;
  --ion-color-primary-contrast: #263341; // #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #417fbf;
  --ion-color-primary-tint: #5c9ddd;
}

@mixin dark-secondary-color {
  --ion-color-secondary: #{$DARK_SECONDARY_COLOR};
  --ion-color-secondary-rgb: 252, 247, 240;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #ded9d3;
  --ion-color-secondary-tint: #fcf8f2;
}

@mixin dark-tertiary-color {
  --ion-color-tertiary: #{$DARK_TERTIARY_COLOR};
  --ion-color-tertiary-rgb: 28, 33, 43;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #191e26;
  --ion-color-tertiary-tint: #434a51;
}

@mixin dark-background-color {
  --ion-background-color: #{$DARK_BACKGROUND_COLOR};
  --ion-background-color-rgb: 19, 22, 32;

  --ion-background-color-step-50: #383838;
  --ion-background-color-step-100: #434343;
  --ion-background-color-step-150: #4d4d4d;
  --ion-background-color-step-200: #585858;
  --ion-background-color-step-250: #626262;
  --ion-background-color-step-300: #6d6d6d;
  --ion-background-color-step-350: #777777;
  --ion-background-color-step-400: #828282;
  --ion-background-color-step-450: #8c8c8c;
  --ion-background-color-step-500: #979797;
  --ion-background-color-step-550: #a1a1a1;
  --ion-background-color-step-600: #ababab;
  --ion-background-color-step-650: #b6b6b6;
  --ion-background-color-step-700: #c0c0c0;
  --ion-background-color-step-750: #cbcbcb;
  --ion-background-color-step-800: #d5d5d5;
  --ion-background-color-step-850: #e0e0e0;
  --ion-background-color-step-900: #eaeaea;
  --ion-background-color-step-950: #f5f5f5;
}

@mixin dark-text-color {
  --ion-text-color: #fff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-text-color-step-50: #f5f5f5;
  --ion-text-color-step-100: #eaeaea;
  --ion-text-color-step-150: #e0e0e0;
  --ion-text-color-step-200: #d5d5d5;
  --ion-text-color-step-250: #cbcbcb;
  --ion-text-color-step-300: #c0c0c0;
  --ion-text-color-step-350: #b6b6b6;
  --ion-text-color-step-400: #ababab;
  --ion-text-color-step-450: #a1a1a1;
  --ion-text-color-step-500: #979797;
  --ion-text-color-step-550: #8c8c8c;
  --ion-text-color-step-600: #828282;
  --ion-text-color-step-650: #777777;
  --ion-text-color-step-700: #6d6d6d;
  --ion-text-color-step-750: #626262;
  --ion-text-color-step-800: #585858;
  --ion-text-color-step-850: #4d4d4d;
  --ion-text-color-step-900: #434343;
  --ion-text-color-step-950: #383838;
}

@mixin dark-theme {
  /**  Colors **/
  @include dark-primary-color;
  @include dark-secondary-color;
  @include dark-tertiary-color;

  @include dark-text-color;
  @include dark-background-color;

  // Header
  --ion-toolbar-background: #263341;
  --ion-toolbar-border-color: var(--ion-color-primary-shade);
  --ion-toolbar-color: #{$TERTIARY_COLOR};

  // General
  --border-width: #{$BORDER_WIDTH};
  --border-color: var(--ion-color-tertiary-tint);
  --background-color: var(--ion-color-tertiary-shade);

  // Card
  --ion-color-card-background: var(--ion-color-tertiary-shade);
  --ion-color-card-border: var(--ion-color-tertiary-tint);

  // Footer
  --ion-footer-color-background: var(--ion-color-tertiary-shade);
  --ion-footer-color-border: var(--ion-color-tertiary-tint);
  --ion-footer-color-button: var(--ion-color-primary);
  --ion-footer-border-width: var(--border-width);
  --ion-footer-border-radius: var(--border-radius);

  .button-clear {
    --color: #{$DARK_SECONDARY_COLOR};
  }

  ion-radio {
    --color-checked: #{$DARK_SECONDARY_COLOR};
  }

  --ion-image-upload-border-width: 0;

  --ion-input-background: var(--ion-color-tertiary);
  --ion-input-border-color: var(--ion-color-tertiary-tint);
}

html.dark {
  @include dark-theme;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    @include dark-theme;
  }
}
