@use 'sass:color';

$deep_navy: #00365f;
$cream: #fcf7f0;
$warm_orange: #c45b2b;
$dark_charcoal: #2e2e2e;
$pure_white: #fff;

$background: #fffbef;

:root {
  /**  Application colors **/
  // https://ionicframework.com/docs/theming/themes#application-colors
  --ion-background-color: #{$background};
  --ion-background-color-rgb: 255, 251, 239;

  --ion-tab-bar-background: #{$background};
  --ion-tab-bar-background-rgb: 255, 251, 239;

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);

  --ion-text-color: #{$deep_navy};
  --ion-text-color-rgb: 0, 54, 95;

  --ion-icon-color: var(--ion-color-primary);

  /**  Colors **/
  // https://ionicframework.com/docs/theming/color-generator
  --ion-color-primary: #{$deep_navy};
  --ion-color-primary-rgb: 0, 54, 95;
  --ion-color-primary-contrast: #{$cream};
  --ion-color-primary-contrast-rgb: 252, 247, 240;
  --ion-color-primary-shade: #003054;
  --ion-color-primary-tint: #1a4a6f;

  --ion-color-secondary: #{$warm_orange};
  --ion-color-secondary-rgb: 196, 91, 43;
  --ion-color-secondary-contrast: #{$cream};
  --ion-color-secondary-contrast-rgb: 252, 247, 240;
  --ion-color-secondary-shade: #ac5026;
  --ion-color-secondary-tint: #ca6b40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #{$dark_charcoal};
    --ion-background-color-rgb: 46, 46, 46;

    --ion-tab-bar-background: #{color.scale($warm_orange, $lightness: -20%)};
    --ion-tab-bar-background-rgb: 156, 73, 34;
    --ion-tab-bar-color: #{$cream};

    --ion-toolbar-background: #{color.scale($warm_orange, $lightness: -20%)};
    --ion-toolbar-color: #{$cream};

    --ion-text-color: #{$cream};
    --ion-text-color-rgb: 252, 247, 240;

    --ion-icon-color: var(--ion-color-primary);

    /**  Colors **/
    --ion-color-primary: #{$warm_orange};
    --ion-color-primary-rgb: 196, 91, 43;
    --ion-color-primary-contrast: #{$cream};
    --ion-color-primary-contrast-rgb: 252, 247, 240;
    --ion-color-primary-shade: #ac5026;
    --ion-color-primary-tint: #ca6b40;

    --ion-color-secondary: #{$cream};
    --ion-color-secondary-rgb: 252, 247, 240;
    --ion-color-secondary-contrast: #{$deep_navy};
    --ion-color-secondary-contrast-rgb: 0, 54, 95;
    --ion-color-secondary-shade: #dedbd4;
    --ion-color-secondary-tint: #fcf8f2;

    --ion-card-background: #{color.scale($dark_charcoal, $lightness: -40%)};
  }
}
